<h2> 編輯商品 </h2>
<%= simple_nested_form_for [:admin, @product] do |f| %>
    <div class="group">
      <%= f.input :title %>
    </div>

    <div class="group">
      <%= f.input :description %>
    </div>

    <div class="group">
      <%= f.input :quantity %>
    </div>

    <div class="group">
      <%= f.input :original_quantity %>
    </div>

    <div class="group">
      <%= f.input :price %>
    </div>

    <div class="group">
      <%= f.input :product_status_id, collection: show_product_status_select_items, label_method: :name, value_method: :id, label: "上架狀態", include_blank: false %>
    </div>

    <div class="group">
      <%= f.input :category_id, collection: show_product_category_items, label_method: :name, value_method: :id, label: "商品分類", include_blank: false %>
    </div>

    <div class="group">
      <%= f.input :can_be_wish, as: :radio_buttons %>
    </div>

    <div class="form-group" id="photos_list">
      <%= f.fields_for :photos do |c| %>
          <%= c.input :image, as: :file %>
      <% end %>
    </div>
    <p><%= f.link_to_add "加入商品圖片", :photos, data: {target: '#photos_list'}, class: "btn btn-success btn-sm" %></p>

    <div align="right"><%= f.submit "編輯商品", data: {disable_with: "Submitting..."}, class: "btn btn-primary btn-lg" %></div>
<% end %>