<h2>商品清單</h2>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增商品", new_admin_product_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th width="220">商品圖片</th>
    <th>商品名稱</th>
    <th>庫存</th>
    <th>最低補貨數量</th>
    <th>可加入願望清單</th>
    <th>價格</th>
    <th width="100"> 功能選項</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% @products.each do |product| %>
        <td>
          <%= product.id %>
        </td>
        <td>
          <%= link_to product_path(product) do %>
              <%= show_product_photo(product) %>
          <% end %>
        </td>
        <td>
          <%= product.title %>
        </td>
        <td>
          <%= product.quantity %>
        </td>
        <td>
          <%= product.be_wished %>
        </td>
        <td>
          <%= can_be_wish?(product) %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <%= link_to("編輯", edit_admin_product_path(product)) %>
        </td>
        </tr>
    <% end %>
    </tbody>
</table>
<div>
  <%= will_paginate(@products) %>
</div>