<h2>使用者列表</h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Email</th>
    <th>訂購次數</th>
    <th>權限</th>
    <th>功能</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.id %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.orders.count %>
        </td>
        <td>
          <% if user.admin? %>
            系統管理員
          <% else %>
            會員
          <% end %>
        </td>
        <td>
          <% if user.admin? %>
            <%= link_to("停用管理者權限", to_normal_admin_user_path(user), method: :post, class: "btn btn-danger") %>
          <% else %>
            <%= link_to("啟用管理者權限", to_admin_admin_user_path(user), method: :post,class: "btn btn-info") %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="column" align="canter">
 <%= will_paginate(@users) %>
</div>