<div class="container">

</div>
<div class="row">
  <div class="col-md-6">
    <%= image_tag(@product.show_first_photo, class: "thumbnail") %>
  </div>
  <div class="col-md-6">
    <h2><%= @product.title %></h2>
    <div>
      <p>
        <%= @product.description.html_safe %>
      </p>
    </div>
    <div class="panel panel-default">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>售價</th>
          <th>優惠價</th>
          <th>為您省下</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><span class="product-original-price-table"><%= show_original_price(@product) %></span></td>
          <td><span class="product-price-table"><%= show_price(@product) %></span></td>
          <td><span class="product-price-discount-table"><%= show_discount(@product) %></span></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="panel panel-default">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="col-md-4">運費</th>
          <th class="col-md-8">免運費</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="col-md-4 product-shipment-table"><%= show_shipment(@product) %></td>
          <td class="col-md-8 product-price-table">滿 <%= @product.free_shipping_quantity %> 組免運費</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h4><%= show_original_quantity_at_index(@product) %></h4>
      <%= button_status_by_product(@product) %>
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">商品介紹</a></li>
  <li><a data-toggle="tab" href="#menu1">商品狀態＆付款及出貨說明</a></li>
  <li><a data-toggle="tab" href="#menu2">商品退換貨須知</a></li>
  <li><a data-toggle="tab" href="#menu3">防詐騙訊息</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>商品介紹</h3>
    <p>
      <% if @product.introduction.present? %>
          <%= @product.introduction.html_safe %>
      <% end %>
    </p>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>商品狀態＆付款及出貨說明</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>商品退換貨須知</h3>
    <p>Some content in menu 2.</p>
  </div>
  <div id="menu3" class="tab-pane fade">
    <h3>防詐騙訊息</h3>
    <p>Some content in menu 3.</p>
  </div>
</div>

<div class="text-center">
    <%= button_status_by_product(@product) %>
</div>