<div class="row">
  <div class="col-md-6">
    <%= image_tag(@product.show_first_photo, class: "thumbnail") %>
  </div>
  <div class="col-md-6">
    <h2><%= @product.title %></h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div>數量：<%= @product.quantity %> </div>
    <div class="product-price"><%= @product.price %> NTD</div>
    <div class="pull-right">
      <%= button_status_by_product(@product) %>
    </div>
  </div>
</div>