<!DOCTYPE html>
<html>
<head>
  <title>商店後台</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= render "common/navbar" %>
<div class="container">
  <%= notice_message %>
  <ul class="nav nav-tabs nav-justified">
    <li><%= link_to("商品管理", admin_products_path, class: "active") %></li>
    <li><%= link_to("訂單管理", admin_orders_path, class: "active") %></li>
    <li><%= link_to("退貨管理", "#", class: "active") %></li>
    <li><%= link_to("會員管理", admin_users_path, class: "active") %></li>
  </ul>
  <div>
    <%= yield %>
  </div>
</div>
</body>
</html>