<!DOCTYPE html>
<html>
<head>
  <title>Applestore</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <%= render "common/navbar" %>
</div>

<%= render_banner %>

<div class="container padding-top-with-nav" data-no-turbolink>
  <%= notice_message %>
  <%= yield %>
</div>
<%= render "common/footer" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
